@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #003973;
    --background: 223 100% 98.46%;
    --foreground: 223 10% 0.92%;

    --muted: 223 10% 92.3%;
    --muted-foreground: 223 5% 42.3%;

    --popover: 223 47% 93.07%;
    --popover-foreground: 223 10% 1.15%;

    --card: 223 47% 93.07%;
    --card-foreground: 223 10% 1.15%;

    --border: 223 15% 89.92%;
    --input: 223 15% 89.92%;

    --primary: 223 100% 23%;
    --primary-foreground: 223 2% 92.3%;

    --secondary: 223 11% 86.91%;
    --secondary-foreground: 223 7% 12.3%;

    --accent: 223 11% 86.91%;
    --accent-foreground: 223 7% 12.3%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;

    --ring: 223 100% 23%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #2980b9;

    --background: 216 41.6% 3.52%;
    --foreground: 216 6.4% 97.2%;

    --muted: 216 32% 13.2%;
    --muted-foreground: 216 6.4% 54.4%;

    --popover: 216 52.2% 5.72%;
    --popover-foreground: 216 6.4% 97.2%;

    --card: 216 52.2% 5.72%;
    --card-foreground: 216 6.4% 97.2%;

    --border: 216 32% 13.2%;
    --input: 216 32% 13.2%;

    --primary: 216 64% 44%;
    --primary-foreground: 216 6.4% 97.2%;

    --secondary: 216 32% 13.2%;
    --secondary-foreground: 216 6.4% 97.2%;

    --accent: 216 32% 13.2%;
    --accent-foreground: 216 6.4% 97.2%;

    --destructive: 0 80% 49%;
    --destructive-foreground: 216 6.4% 97.2%;

    --ring: 216 64% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
